{% block footer %}
<footer>
	<div class="social_media">
		<a href="https://www.youtube.com/watch/dQw4w9WgXcQ"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Facebook_F_icon.svg/512px-Facebook_F_icon.svg.png"></a>
		<a href="https://www.youtube.com/watch/dQw4w9WgXcQ"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/132px-Instagram_logo_2016.svg.png"></a>
	</div>
	<div>
		<h2>VSAiT</h2>
		<p>Vietnamese Student Association in Trondheim</p>
	</div>
	<div>
		<p><b>Kontakt</b></p>
		<p>YuyuhJonny</p>
	</div>
</footer>
{% endblock footer %}
