
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>VSAiT - Glemt passord</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'home/contact.css' %}">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'home/forgot_password.js' %}"></script>
	</head>
	<body>
		<div class="wrapper">
			{% block header %}
				{% include 'home/header.html' %} 
			{% endblock header %}
			<div class="bg" style="position: absolute;background-color: rgba(255, 69, 50, 0.85);height: 500px;width: 100%;"></div>
			<main>
				<div class="innhold" style="transform: translateY(0);margin-bottom: 180px;">
					<div style="max-width: 45%;margin: 0 auto;">
						<div>
							<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4 17h-8v-6h8v6zm-6-6v-2c0-1.104.897-2 2-2s2 .896 2 2v2h1v-2c0-1.656-1.343-3-3-3s-3 1.344-3 3v2h1z"/></svg>
						</div>
						<h2>Problemer med innlogging?</h2>
						<p>
							Oppgi din e-postadresse, så sender vi deg en lenke som gir deg tilgang til å endre passordet til kontoen din.
						</p>
						<form method="POST">
							{% csrf_token %}
							<label for="email" style="text-align: left;width: 100%;display: block;margin-bottom: 5px;">Email</label>
							<input type="email" placeholder="E-postadresse" id="email" name="email">
							<input type="submit" value="Reset password">
						</form>
					</div>
				</div>
			</main>
			{% block footer %}
				{% include 'home/footer.html' %} 
			{% endblock footer %}
		</div>
	</body>
</html>
