<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>VSAIT</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="wrapper">
			{% block header %}
				{% include 'home/header.html' %} 
			{% endblock header %}
			<main>
				<div class="splash">
					<div>
						<h1>Vietnamese Student Association</h1>
					</div>
					<div class="logginn">
						{% if user.is_authenticated %}
							<h3>Welcome back "{{ user.firstname }}"!</h3>
							<div>
								<a class="btn" href="/logout">Logout</a>
								<div>
									<p>Nothing interesting here...</p>
								</div>
							</div>
						{% else %}
							<h3>Logg inn:</h3>
							<form method="POST">
								{% csrf_token %}
								{{ form.username }}
								{{ form.email }}
								{{ form.password }}
								<input type="hidden" name="next" value="{{ request.GET.next }}">
								<input type="submit" value="Logg inn">
								<a class="btn inverse" href="/signup">Register</a>
							</form>
						{% endif %}
					</div>
				</div>
				<div class="sectionSplit"></div>
				<div class="innhold">
					<h1>Kommende arrangementer</h1>
					<div class="events">
					{% if events %}
						{% for event in events %}
						<a href="events/{{event.pk}}">
							<div class="event">
								<div class="bilde">
									<h2>{{ event.title }}</h2>
									<h2 class="type" style="bottom: 35px">StartTime: {{ event.startTime | date:'d.m.Y - H:i' }}</h2>
									<h2 class="type">{% if event.event_type == 'medlem' %}Membership required{% else %}Open for all{% endif %}</h2>
									<img src="{{ event.image.url }}"/>
								</div>
								<div class="info">
									Antall påmeldte: {{ event.number_of_registrations }}/{{event.max_people}} {% if event.has_waiting_users %} ({{event.number_of_waiting_users}} på venteliste) {% endif %}
								</div>
							</div>
						</a>
						{% endfor %}
					{% else %}
						<p>No events are available right now.</p>
					{% endif %}
					</div>
					<a class="btn" href="/events">Flere arrangementer...</a>
				</div>
			</main>
			{% block footer %}
				{% include 'home/footer.html' %} 
			{% endblock footer %}
		</div>
	</body>
</html>
