<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>VSAiT - Hjemmeside</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'home/infoPopup.css' %}">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'home/index.js' %}"></script>
		<script type="text/javascript" src="{% static 'home/infoPopup.js' %}"></script>
	</head>
	<body>
		<div class="wrapper index">
			{% block header %}
				{% include 'home/header.html' %} 
			{% endblock header %}
			<div class="bg" style="position: absolute;background-color: rgba(255, 69, 50, 0.85);height: 500px;width: 100%;"></div>
			<main>
				<div class="splash">
					<div class="logginn">
						{% if messages %}
							{% for message in messages %}
							  <p class="messages {{ message.tags }}" style="display: none;">{{ message }}</p>
							{% endfor %}
						{% endif %}
						{% if user.is_authenticated %}
							<h3 style="margin-bottom: 0;">Velkommen tilbake, {{ user.firstname }}!</h3>
							{% if not user.alert_membership_read %}
								<form method="POST" style="display: none;">
									{% csrf_token %}
									{{ form_food_needs.as_p}}
									<input type="checkbox" id="alert_membership" name="alert_membership" checked>
									<input type="submit" id="alert_not_read" value="">
								</form>
							{% endif %}
							<div>
								<a class="btn" href="/logout">Logout</a>
							</div>
						{% else %}
							<form style="display: none;" id="cform" method="POST">
								{% csrf_token %}
								{{ cform.as_p }}
								<input type="submit" id="cbtn" value="send confirmation again"/>
							</form>
							<form method="POST">
								<h3>Logg inn:</h3>
								{% csrf_token %}
								{{ form.username }}
								<input type="email" name="email" class="inp" placeholder="Email" maxlength="256" required="" id="id_email" value="{{request.session.email}}">
								<div>
									{{ form.password }}
									<div class="show_password"><a href="javascript:void(0)">Vis</a></div>
								</div>
								<a href="/forgot_password" class="forgot_password">Glemt passord?</a>
								<input type="hidden" name="next" value="{{ request.GET.next }}">
								<input type="submit" value="Logg inn">
								<a class="btn inverse" href="/signup">Register</a>
							</form>
						{% endif %}
					</div>
					{% if user.is_authenticated %}
					<div class="status_box">
						<h3>Medlemsstatus:</h3>
						<div>
							<div class="your_events">
							{% if user.is_authenticated %}
								{% if user.has_membership_boolean %}
									<p>Medlemskap bekreftet for {{ get_year }}</p>
								{% elif user.pending_membership %}
									<p>Venter på bekreftelse av medlemskontigent.<br/><br/></p>
									<p>Du kan fortsatt melde deg på arrangement som et vanlig medlem.</p>
								{% else %}
									<p>Du er ikke medlem av VSAIT for skoleåret {{ get_year }}</p>
									<a href="/profile">Fiks deg medlemskap i profilen din!</a>
								{% endif %}
							{% endif %}
							</div>
						</div>
					</div>
					<div class="events_box">
						<h3>Påmeldinger:</h3>
						<div>
							<div class="your_events">
								{% if attending_events or pending_events %}
									{% if attending_events %}
										<h3>Arrangementer registrert</h3>
										{% for event in attending_events %}
										<a href="events/{{event.pk}}">
											<p>{{ event.title }}</p>
											<p>{{ event.startTime | date:'l d.m.Y' }}</p>
										</a>
										{% endfor %}
									{% endif %}

									{% if pending_events %}
										<h3>Arrangementer i venteliste</h3>
										{% for event in pending_events %}
										<a href="events/{{event.pk}}">
											<p>{{ event.title }}</p>
											<p>{{ event.startTime | date:'l d.m.Y' }}</p>
										</a>
										{% endfor %}
									{% endif %}
								{% else %}
									<p>Ikke noe å vise...</p>
								{% endif %}
							</div>
						</div>
					</div>
					{% endif %}
				</div>

				{% if user.is_authenticated %}
				<div class="innhold">
				{% else %}
				<div class="innhold no_auth">
				{% endif %}
					<h1>Kommende arrangementer</h1>
					<div class="events">
					{% if events %}
						{% for event in events %}
						<div class="event_wrapper">
							<a href="events/{{event.pk}}">
								<div class="event">
									<div class="bilde">
										<h2>{{ event.title }}</h2>
										<h2 class="type" style="bottom: 60px">{{ event.location }}</h2>
										<h2 class="type" style="bottom: 30px">{{ event.startTime | date:'l d.m.Y' }}</h2>
										<h2 class="type">{% if event.event_type == 'medlem' %}Krever medlemsskap{% else %}Åpent{% endif %}</h2>
										<img src="{{ event.image.url }}"/>
									</div>
									<div class="info">
										Antall påmeldte: {{ event.number_of_registrations }}/{{event.display_max_people}} {% if event.has_waiting_users %} ({{event.number_of_waiting_users}} på venteliste) {% endif %}
									</div>
								</div>
							</a>
						</div>
						{% endfor %}
					{% else %}
						<p>Det ser ikke ut som vi har noen planlagte arrangementer annonsert enda. Kom gjerne tilbake igjen senere!</p>
					{% endif %}
					</div>
					<a class="btn" style="width: 95%;" href="/events">Se alle arrangementer...</a>
				</div>
				<div id="infoPopup">
					<p>Heisann!</p>
					<p>Velkommen til VSAiTs nye medlemsside!</p>
					<p>Påmelding til VSAiTs fremtidige arrangementer skjer her!</p>
					<p>Vi har også en Discord server for digitale sosiale sammenhenger. Bli med her: <a href="https://discord.gg/Bhd9v7bZ79" target="_blank">https://discord.gg/Bhd9v7bZ79</a></p>
					<p>Oppdager du noen feil, mangler, eller ønsker, send mail til <a href="mailto:it@vsait.org">it@vsait.org</a></p>
					<label>
						<input type="checkbox" id="infoPopupChkbox"/>
						Ikke vis denne meldingen igjen
					</label>
					<button id="infoPopupBtn">Lukk meldingen</button>
				</div>
			</main>
			{% block footer %}
				{% include 'home/footer.html' %} 
			{% endblock footer %}
		</div>
	</body>
</html>
