
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>VSAIT - registration</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'home/profile.css' %}">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="wrapper">
			{% block header %}
				{% include 'home/header.html' %} 
			{% endblock header %}
			<main>
				<div class="splash">
					<div>
						<h1>Vietnamese Student Association</h1>
					</div>
				</div>
				<div class="innhold">
					<div class="profile_image">
						<img src="https://www.gravatar.com/avatar/07ec6c3719b7bf2c1640a1506e3c5d78?d=https%3A%2F%2Fonline.ntnu.no%2Fstatic%2Fimg%2Fprofile_default_male.png&amp;s=240" />
					</div>
					<h1>{{ user.firstname }} {{ user.lastname }}</h1>
					<div class="divbox kontaktinformasjon">
						<h2>Kontakt</h2>
						<p class="label">Telefon</p>
						<p>Ikke tilgjengelig</p>
						<p class="label">Email</p>
						<p>{{ user.email }}</p>
						<p class="label">Date of birth</p>
						<p>{{ user.date_of_birth}}</p>
					</div>
					
					<div class="divbox brukerinformasjon">
						<h2>Brukerinformasjon</h2>
						<p class="label">Date joined</p>
						<p>{{ user.date_joined}}</p>
						<p class="label">Is a student</p>
						<p>{{ user.student}}</p>
						<p class="label">Has membership</p>
						<p>{{ user.membership}}</p>
					</div>
				</div>
			</main>
			{% block footer %}
				{% include 'home/footer.html' %} 
			{% endblock footer %}
		</div>
	</body>
</html>
