
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>VSAIT - registration</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'home/profile.css' %}">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'home/profile.js' %}"></script>
	</head>
	<body>
		<div class="wrapper">
			{% block header %}
				{% include 'home/header.html' %} 
			{% endblock header %}
			<main>
				<div class="splash">
					<div>
						<h1>Vietnamese Student Association</h1>
					</div>
				</div>
				<div class="innhold profile">
					<h1>{{ user.firstname }} {{ user.lastname }}</h1>
					<a class="btn" href="/logout">Logout</a>
					<div class="divbox nav">
						<a href="/profile/">My profile</a>
						<a href="/profile/statistics/">Statistics</a>
					</div>
					<div id="profile" class="profile_display">
						<div class="divbox kontaktinformasjon">
							<h2>Kontoinfo</h2>
							<p class="label">Email</p>
							<p>{{ user.email }}</p>
							<form method="POST">
								{% csrf_token %}
								{{ form_food_needs.as_p }}
								<input type="submit" id="food" value="Oppdater">
							</form>
						</div>
						<div class="divbox membership">
							<h2>Medlemskap</h2>
							<p class="label">Medlemskap</p>
							{% if user.has_membership_boolean %}
								<p>Membership confirmed for {{ get_year }}</p>
							{% elif user.pending_membership %}
								<p>You are currently registered as a pending_membership, this will be confirmed by a staff member.</p>
								<p>With a pending_membership you can register for event just as like a normal membership</p>
							{% else %}
								<p>Du er ikke medlem for skoleåret {{ get_year }} / {{ get_year }}</p>
								<form action="/profile/pending_membership/" method="POST">
									{% csrf_token %}
									<input type="submit" id="membership" value="Bli medlem!">
								</form>
							{% endif %}
							{% if memberships %}
							<p class="label">Tidligere medlemskap</p>
								{% for membership in memberships %}
									<p>{{ membership.year }}</p>
								{% endfor %}
							{% endif %}
						</div>
						<div class="divbox brukerinformasjon">
							<h2>Brukerinfo</h2>
							<p class="label">Navn</p>
							<p>{{ user.firstname}} {{ user.lastname }}</p>
							<p class="label">Fødselsdag</p>
							<p>{{ user.date_of_birth | date:'d.m.Y'}}</p>
							<p class="label">Is a student</p>
							<p>{{ user.student}}</p>
							<p class="label">Has membership</p>
							<p>{{ user.has_membership}}</p>
							<form method="POST">
								{% csrf_token %}
								{{ form_food_needs.as_p }}
								<input type="submit" id="food" value="Oppdater">
							</form>
						</div>
						<div class="divbox password">
							<h2>Endre passord</h2>
							<form method="POST">
								{% csrf_token %}
								{{ form_password.as_p }}
								<input type="submit" id="password" value="Oppdater">
							</form>
							{% if messages %}
								{% for message in messages %}
								  <p class="{{ message.tags }}" id="alert" style="color: red;">{{ message }}</p>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</main>
			{% block footer %}
				{% include 'home/footer.html' %} 
			{% endblock footer %}
		</div>
	</body>
</html>
