<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>VSAiT - Tilbakestill passord</title>
		{% load static %}
		<link rel="shortcut icon" type="image/png" href="{% static 'home/favicon.ico' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'home/contact.css' %}">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="wrapper">
			{% block header %}
				{% include 'home/header.html' %} 
			{% endblock header %}
			<div class="bg" style="position: absolute;background-color: rgba(255, 69, 50, 0.85);height: 500px;width: 100%;"></div>
			<main>
				<div class="innhold" style="transform: translateY(0);margin-bottom: 180px;">
					<div>
						<h1>Tilbakestill passordet ditt:</h1>
						<form method="POST" class="reset_password_form">
							{% csrf_token %}
							{{ form.as_p }}
							<input type="submit" id="reset_password" value="Bytt passord"/>
						</form>
					</div>
					{% if messages %}
						{% for message in messages %}
						  <p class="messages {{ message.tags }}" style="display: none;">{{ message }}</p>
						{% endfor %}
					{% endif %}
				</div>
			</main>
			{% block footer %}
				{% include 'home/footer.html' %} 
			{% endblock footer %}
		</div>
	</body>
</html>
