
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>VSAIT - registration</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'home/profile.css' %}">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
		<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
	</head>
	<body>
		<div class="wrapper">
			{% block header %}
				{% include 'home/header.html' %} 
			{% endblock header %}
			<main>
				<div class="bg" style="position: absolute;background-color: rgba(255, 69, 50, 0.85);height: 500px;width: 100%;"></div>
				<div class="innhold profile" style="transform: translateY(110px);margin-bottom: 180px;">
					<h1>{{ user.firstname }} {{ user.lastname }}</h1>
					<div class="divbox nav">
						<a href="/profile/">My profile</a>
						<a href="/profile/statistics/">Statistics</a>
					</div>
					<div id="settings" class="profile_display">
						<div class="divbox statistikk">
							<h2>Statistics</h2>
							<p>You have joined {{ events_count }} events so far!</p>
							{% for event in events %}
							<a href="events/{{event.pk}}">
								<div class="event">
									<h2>{{ event.title }}</h2>
									{{ event.startTime | date:'d.m.Y [H:i]' }} - {{ event.endTime | date:'d.m.Y [H:i]' }}
								</div>
							</a>
							{% endfor %}
						</div>
					</div>
				</div>
			</main>
			{% block footer %}
				{% include 'home/footer.html' %} 
			{% endblock footer %}
		</div>
	</body>
</html>
